* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #255769;
}

nav {
    width: 10.5%;
    height: 100%;
    float: left;
    background: #FFF;
    position: fixed;
}

    nav ul {
        margin-left: 23%;
        font-family: 'Oswald', sans-serif;
    }

        nav ul li {
            margin: 30px 0;
        }

            nav ul li a {
                transition: .2s;
                color: #000000;
            }

                nav ul li a:hover {
                    border-bottom: 2px solid #000;
                    padding-top: 3px;
                }


#facebook_logo {
    display: block;
    margin-left: 25%;
    margin-top: 5%;
    height: 5%;
    width: 50%;
}

    #facebook_logo img {
        display: block;
    }

#youtube_logo {
    display: block;
    margin-left: 25%;
    margin-top: 18%;
    height: 5%;
    width: 50%;
}

#youtubek_logo img {
    display: block;
}

#kfum_logo {
    display: block;
    margin-left: 25%;
    margin-top: 10%;
}

    #kfum_logo img {
        display: block;
        height: 100%;
        width: 70%;
    }

#instagram_logo {
    display: block;
    margin-left: 25%;
    margin-top: 18%;
    height: 5%;
    width: 50%;
}

    #instagram_logo img {
        display: block;
        height: 5%;
        width: 50%;
    }

article#cover {
    width: 100%;
    height: 500px;
    background-image: url(../img/andre_billeder/cover_photo_first_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    margin-left: 9%;
    text-align: center;
    padding-top: 20%;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28em;
    font-size: 2.8rem;
    line-height: 1.275em;
}


#youtube {
    margin-top: 1%;
    margin-left: 4%;
    width: 640px;
    height: 360px;
}

iframe{ 
    float: left; 
    width: 100%; 
    height: 400px;
}

#black_box {
    background-color: #000000;
    float: left;
    width: 80%;
    height: 420px;
    margin-top: 1%;
    margin-left: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#text_black_box {
    color: #FFFFFF;
    float: right;
    margin-top: -15%;
    margin-right: 5%;
    line-height: 180%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
#heading {
    color: #FFFFFF;
    float: right;
    margin-top: -23%;
    margin-right: 20%;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
    font-size: 50px;
}