body {
    background-color: #255769;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: fixed;
    height: auto;
    width: 10%;
    overflow: auto;
    margin-left: 0%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 6px;
    text-decoration: none;
}


ul li a img {
    width: 200px;
    height: 200px;
}

ul li a {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 3%;
    font-size: 17px;
    font-weight: 500;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-left: 5%;
}

#logo {
    display: block;
}

    #logo img {
        display: block;
    }

.navbar nav {
    font-family: "klavika-web", Helvetica, Arial, sans-serif;
    line-height: 1.9;
}

.navbar {
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    background: #fff;
}

    .navbar nav a {
        display: block;
    }

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 4%;
}

#main-navigation {
    font-size: 20em;
    font-size: 2rem;
    font-weight: 600;
}


















@media only screen and (min-width: 50.2em) {
    .navbar {
        width: 200px;
        min-height: 100vh;
        position: fixed;
    }

        .navbar #logo {
            margin-top: 40px;
            margin-left: 40px;
        }
}

@media only screen and (max-height: 800px) {
    .navbar {
        position: absolute;
    }
}

@media only screen and (max-width: 50em) {
    .navbar {
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        position: absolute;
        width: 100%;
        z-index: 10;
        height: 66px;
        overflow: hidden;
        top: 0;
    }

        .navbar .nav-toggle {
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(253, 169, 158, 0) url(nav-toggle.svg) center no-repeat;
            background-size: 25px;
            top: 11px;
            left: 8px;
        }

        .navbar #logo {
            position: absolute;
            width: 62px;
            left: 50%;
            top: 15px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .navbar.showing {
            background: #255769;
            height: auto;
            min-height: 100vh;
            position: absolute;
        }

            .navbar.showing.anim-complete {
                overflow: visible;
            }

            .navbar.showing .nav-toggle {
                display: block;
                left: 50%;
                top: 34px;
                background: #fda99e url(toggle-plus-white.svg) center no-repeat;
                -webkit-transform: translateX(-50%) rotate(45deg);
                transform: translateX(-50%) rotate(45deg);
            }

            .navbar.showing #logo {
                opacity: 0;
                pointer-events: none;
            }
}

@media only screen and (min-width: 50.2em) {
    .navbar nav {
        padding-left: 40px;
    }

        .navbar nav a:hover {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }